:root{
    --skin-color-4: #ec1839;
    --skin-color-1: #ec1839;
    --skin-color-2: #1fec18;
    --skin-color-3: #e8ec18;
    --skin-color-5: #8a088a;
    --skin-color-6: #2f07c2;
    --skin-color-7: #05978b;
}