*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}

@-webkit-keyframes rescale{
    0% {transform:rotate(0deg);}
    10% {transform:rotate(36deg);}
    20% {transform:rotate(72deg);}
    30% {transform:rotate(108deg);}
    40% {transform:rotate(144deg);}
    50% {transform:rotate(180deg);}
    60% {transform:rotate(216deg);}
    70% {transform:rotate(252deg);}
    80% {transform:rotate(288deg);}
    90% {transform:rotate(334deg);}
    100% {transform:rotate(360deg);}
  }
  
  @keyframes rescale{
    0% {transform:rotate(0deg);}
    10% {transform:rotate(36deg);}
    20% {transform:rotate(72deg);}
    30% {transform:rotate(108deg);}
    40% {transform:rotate(144deg);}
    50% {transform:rotate(180deg);}
    60% {transform:rotate(216deg);}
    70% {transform:rotate(252deg);}
    80% {transform:rotate(288deg);}
    90% {transform:rotate(334deg);}
    100% {transform:rotate(360deg);}
  }
.main{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: relative;
}
.logo{
    border: #000 1px solid;
    width:20px;
    height:20px;
    -webkit-animation:rescale 1.5s infinite;
    animation: rescale 1.5s infinite;
  }

.navbar{
    position: sticky;
    top: 0;
    padding: 20px 0;
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    background-color: #fff;
}

.navbar ul li{
    display: inline-block;
    margin: 10px 20px ;
    list-style: none;
}

.navbar ul li a{
    color: #000;
    text-decoration: none;
    font-weight: bold;

}
.navbar ul li a:hover{
    color: rgb(255, 0, 0);
}

.body{
    margin-left: 8%;
    margin-top: 13%;
}
.body h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
.body h1 span{
    color: #ffa500;
}

.body p{
    color: #555;
    line-height: 22px;
}

.body a{
    background-color: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.body a:hover{
    background-color: transparent;
    border: solid 1px #000;
    color: #555;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 80px;
}

.images img{
    height: 100%;
    position: absolute;
    left:60%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom is, left 1s ease;
}
.images:hover .shape{
    bottom: 30px;
}
.images:hover .mypic{
    left: 50%;
}

.timeline-title{
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #006E51;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }
  
  .container {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
  }
  
  .container.left {
    left:-5%;
  }
  
  .container.right {
    left: 50%;
  }
  
  .container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 2px solid #006E51;
    border-radius: 16px;
    z-index: 1;
  }
  
  .container.right::after {
    left: -8px;
  }
  
  .container::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: #006E51;
    z-index: -1;
  }
  
  .container.right::before {
    left: 8px;
  }
  
  .container .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #006E51;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
  }
  
  .container.left .date {
    right: -75px;
  }
  
  .container.right .date {
    left: -75px;
  }
  
  .container .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: #ffa500;
    border: 2px solid #006E51;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    color: #006E51;
    z-index: 1;
  }
  
  .container.left .icon {
    right: 56px;
  }
  
  .container.right .icon {
    left: 56px;
  }
  
  .container .content {
    padding: 30px 90px 30px 30px;
    background: #ffa500;
    position: relative;
    border-radius: 0 500px 500px 0;
  }
  
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
  
  .container .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    color: #006E51;
  }
  
  .container .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
  .education-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
  }
.my-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.box1{
    border: #000 solid 1px;
    width: 48%;
    height: 200px;
    border-radius: 20px;
    margin: 10px;
    border-top: blue 3px solid;
  }
  .box1 .icon{
    margin-top: 5px;
    display: flex;
    color:teal;
    align-items: center;
    justify-content: center;
    -webkit-animation:rescale 1.5s infinite;
    animation: rescale 1.5s infinite;
  }
  .box1 .icon:hover{
    -webkit-animation:rescale 1.5s;
    animation: rescale 1.5s;
  }
  .contact-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
  }
  .details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .details form{
    border: #000 solid 1px;
  }

  .form-container {
    width: 50%;
    margin-left: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, select {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .my-details{
    margin-right: 30%;
  }
  @media (max-width: 767.98px) {
    .timeline::after {
      left: 90px;
    }
  
    .container {
      width: 100%;
      padding-left: 120px;
      padding-right: 30px;
    }
  
    .container.right {
      left: 0%;
    }
  
    .container.left::after, 
    .container.right::after {
      left: 82px;
    }
  
    .container.left::before,
    .container.right::before {
      left: 100px;
      border-color: transparent #006E51 transparent transparent;
    }
  
    .container.left .date,
    .container.right .date {
      right: auto;
      left: 15px;
    }
  
    .container.left .icon,
    .container.right .icon {
      right: auto;
      left: 146px;
    }
  
    .container.left .content,
    .container.right .content {
      padding: 30px 30px 30px 90px;
      border-radius: 500px 0 0 500px;
    }
  }
 